/* https://cssgradient.io/ */
body {
  --bs-gradient: linear-gradient(45deg, #000000, #003f82, #4ca2b5);
  background-image: var(--bs-gradient);
  min-height: 100vh; /* makes the gradient fill the full screen height */
}

nav {
    background-color: #262624;
}

h1 {
  background: linear-gradient(to right, #003f82, #4ca2b5);
    color: transparent;
    background-clip: text;
  font-family: verdana;
  font-size: 300%;
  /* border: 2px solid aquamarine; */
  /* padding: 30px;
  margin: 50px; */
  /* text-align: center; */
}

a {
    color: #ffff;
}

button{
    background-color: #545454;
    outline: #ffff;
}