/* https://cssgradient.io/ */
body {
  --bs-gradient: linear-gradient(45deg, #000000, #003f82, #4ca2b5);
  background-image: var(--bs-gradient);
  min-height: 100vh; /* makes the gradient fill the full screen height */
}

nav {
    background-color: #262624;
}

/* Classes (i.e. navbar-brand, nav-link) should supersede tags */
h1.navbar-brand {
  background: linear-gradient(to right, #003f82, #4ca2b5);
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
  font-family: Arial;
  font-size: 300%;
  font-style: bold;
  }

a.nav-link {
    color: #ffffff;
    font-size: 150%;
}

h2 {
  color: #ffffff;
  font-family: Arial;
  }

p {
  color: #ffffff;
  font-family: Arial;
}

button.btn {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  font-family: Arial;
}